@import "tailwindcss";

@theme inline {
  --font-sans: 'Poppins', sans-serif;
}

@layer base {
  html {
    color-scheme: light;
  }

  body {
    margin: 0;
    padding: 0;
    background: #F0F2F5;
    font-family: 'Poppins', sans-serif;
    color: #212121;
  }

  img {
    display: block;
  }

  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

::-webkit-scrollbar {
  display: none;
}

textarea {
  resize: none !important;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: none;
}

a,
button {
  transition: 0.3s all ease;
}

button:focus-visible {
  outline: 0;
}

input:focus-visible {
  outline: 0;
}
